* { 
    margin: 0;
    padding: 0;
}
header {
    background-color: black;
    color: white;
    padding: 10px;
}
h1 {
    text-align: center;
}

.main {
    display: flex;
    justify-content: center;
    margin-top: 77px;
}

.form {
    background-color: rgb(184, 174, 174);
    padding: 10px;
}

textarea {
    width: 466px;
    height: 150px;

}

input {
    width: 300px;
    height: 20px;   
}

.bar {
    margin: 10px;
}


/* Padding the labels the label correctly */
label[for="first_name"] {
    padding-right: 102px;
}
label[for="last_name"] {
    padding-right: 104px;
}
label[for="sender_email_address"] {
    padding-right: 78px;
}
label[for="sender_password"] {
    padding-right: 112px;
}
label[for="reciever_email_address"] {
    padding-right: 17px;
}
label[for="reciver_name"] {
    padding-right: 134px;
}
label[for="telephone"] {
    padding-right: 62px;
}
label[for="comments"] {
    padding-right: 140px;
    vertical-align: top;
}
label[for="title"] {
    padding-right: 146px;
    vertical-align: top;
}

 #title {
    width: 465px;
}



#submit {
    display: flex;
    justify-content: center;
    padding:10px;
}

#send {
    background-color: rgb(69, 201, 69);
    padding: 10px 20px;
    border: 2px solid rgb(44, 129, 44);
    border-radius: 10px;
}
