* { 
    margin: 0;
    padding: 0;
}
header {
    background-color: black;
    color: white;
    padding: 10px;
}
h1 {
    text-align: center;
}

.main {
    display: flex;
    justify-content: center;
    margin-top: 77px;
}

.form {
    background-color: rgb(184, 174, 174);
    padding: 10px;
}

/* Padding the labels the label correctly */
label[for="first_name"] {
    padding-right: 72px;
}
label[for="last_name"] {
    padding-right: 74px;
}
label[for="email_address"] {
    padding-right: 49px;
}
label[for="telephone"] {
    padding-right: 32px;
}
label[for="comments"] {
    padding-right: 77px;
    vertical-align: top;
}

.bar {
    margin: 10px;
}

input {
    width: 300px;
    height: 20px;   
}

textarea {
    width: 500px;
    height: 150px;

}

#submit {
    display: flex;
    justify-content: center;
    padding:10px;
}

#send {
    background-color: rgb(69, 201, 69);
    padding: 10px 20px;
    border: 2px solid rgb(44, 129, 44);
    border-radius: 10px;
}